@import "tailwindcss";

:root {
  --header-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

@theme {
  /* --animate-scroll: scroll 30s linear infinite;
   */
  /* Aquí defines tus variables de marca */
  --color-brand-primary: #20235b;
  --color-brand-secondary: #070921;

  /* Puedes definir escalas de grises para tus Grids */
  --color-surface-950: #09090b; /* Fondo general */
  --color-surface-900: #18181b; /* Cards */
  --color-surface-800: #27272a; /* Hovers */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

/* Estilos específicos para el editor ASESCON */
/* Cambiamos .tiptap por una selección doble o una clase compartida */
.tiptap,
.prose {
  outline: none !important;
}

.tiptap h1,
.prose h1 {
  font-size: 2.25rem !important;
  font-weight: 800 !important;
  margin-bottom: 1.5rem !important;
  color: white; /* Para el modo oscuro de tu blog */
}

.tiptap h2,
.prose h2 {
  font-size: 1.875rem !important;
  font-weight: 700 !important;
  margin-bottom: 1.25rem !important;
  color: white;
}

.tiptap ul,
.prose ul {
  list-style-type: disc !important;
  padding-left: 1.5rem !important;
  margin: 1rem 0 !important;
}

.tiptap ol,
.prose ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem !important;
  margin: 1rem 0 !important;
}

.tiptap blockquote,
.prose blockquote {
  border-left: 4px solid #0ea5e9 !important; /* Sky 500 para combinar con ASESCON */
  padding-left: 1rem !important;
  font-style: italic !important;
  color: #94a3b8 !important; /* Slate 400 */
}
